@media (max-width: 650px) {
    #form-flex {
        flex-direction: column;
        gap: 5px;
        align-items: stretch;
    }

    main {
        flex-direction: column;
    }

    .player-score-group {
        padding-inline: 2em;
        justify-content: space-between;
    }

    .player-names, .player-scores {
        margin-bottom: 1em;
    }
}